.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test-files/**
test-output/**
.devcontainer/**
.github/**
.kilocode/**
docs/**
*.backup
eslint.config.mts
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
models/
cache/

